# Data Science Tools and Ecosystem #

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Python
- R
- SQL
- Julia
- Java

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Jva

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. NumPy

|Data Science Tools|
| :-----------------|
|Jupyter Notebook/JupyterLab|
|VS Code (Visual Studio Code)|
|RStudio|

### Below are a few examples of evaluating arithmetic expressions in Python ###

"This a simple arithmetic expression to mutiply then add integers"

In [7]:
(3*4)+5

17

 "This will convert 200 minutes to hours by diving by 60"

In [10]:
200/60

3.3333333333333335

## Author ##
Adale Hinds